In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dicts.csv', names=['dict', 'count'])
df.head()

         dict      count
0       Tamil  1,347,142
1      Korean  1,149,538
2  Portuguese    818,000
3     Finnish    800,000
4     English    711,378

In [3]:
df['count'] = pd.Series(map(lambda x : x.replace(',', ''), df['count']))

In [4]:
df['count'] = df['count'].astype('float')

In [5]:
df2 = pd.DataFrame(columns=['dict', 'count'])

In [6]:
for i in list(set(df.dict)):
    df2.loc[len(df2)] = df[df.dict == i].iloc[0]

In [9]:
df2.sort_values('count', ascending=False).to_csv('dicts2.csv', index=False)